<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/User/IdeaProjects/Session_4"><classes><class name="org.example.AppTest"><methods><include name="CheckCalculateProcessForDays"/><include name="CheckCalculateProcessForMonths"/><include name="CheckExitdatebeforeEntryDate"/><include name="CheckExitdateafterEntryDate"/></methods></class></classes></test></suite>